# Task 3: Employee Score Calculation

**Objective**: Compute monthly sentiment scores for each employee.

**Scoring**: Positive = +1, Negative = -1, Neutral = 0

In [1]:
import matplotlib
matplotlib.use('Agg')  # Non-interactive backend
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
import warnings
warnings.filterwarnings('ignore')

plt.style.use('seaborn-v0_8-whitegrid')
os.makedirs('visualizations', exist_ok=True)
print("Libraries loaded!")

Libraries loaded!

In [2]:
# Load labeled dataset
df = pd.read_csv('data/test_labeled.csv')
df['date'] = pd.to_datetime(df['date'])
df['year_month'] = df['date'].dt.to_period('M')
print(f"Loaded {len(df):,} records")

Loaded 2,191 records

## Score Calculation Methodology

For each employee and each month:
- Sum of sentiment scores (Positive=+1, Negative=-1, Neutral=0)
- Scores reset at the beginning of each month

In [3]:
# Calculate monthly scores per employee
monthly_scores = df.groupby(['employee', 'year_month']).agg({
    'sentiment_score': 'sum',
    'sentiment': 'count'
}).rename(columns={'sentiment': 'message_count'})

monthly_scores = monthly_scores.reset_index()
monthly_scores.columns = ['employee', 'year_month', 'monthly_score', 'message_count']

# Add employee name
monthly_scores['employee_name'] = monthly_scores['employee'].str.split('@').str[0].str.replace('.', ' ', regex=False).str.title()

print(f"Total employee-month records: {len(monthly_scores):,}")
monthly_scores.head(10)

Total employee-month records: 240

,employee,year_month,monthly_score,message_count,employee_name
0,bobette.riner@ipgdirect.com,2010-01,1,2,Bobette Riner
1,bobette.riner@ipgdirect.com,2010-02,7,14,Bobette Riner
2,bobette.riner@ipgdirect.com,2010-03,3,11,Bobette Riner
3,bobette.riner@ipgdirect.com,2010-04,2,6,Bobette Riner
4,bobette.riner@ipgdirect.com,2010-05,1,4,Bobette Riner
5,bobette.riner@ipgdirect.com,2010-06,0,5,Bobette Riner
6,bobette.riner@ipgdirect.com,2010-07,6,12,Bobette Riner
7,bobette.riner@ipgdirect.com,2010-08,0,9,Bobette Riner
8,bobette.riner@ipgdirect.com,2010-09,4,15,Bobette Riner
9,bobette.riner@ipgdirect.com,2010-10,2,6,Bobette Riner

## Score Statistics

In [4]:
print("Monthly Score Statistics:")
print(monthly_scores['monthly_score'].describe())

print(f"\nScore Range: {monthly_scores['monthly_score'].min()} to {monthly_scores['monthly_score'].max()}")

Monthly Score Statistics:
count    240.000000
mean       3.250000
std        2.763328
min       -2.000000
25%        1.000000
50%        3.000000
75%        5.000000
max       15.000000
Name: monthly_score, dtype: float64

Score Range: -2 to 15

In [5]:
# Distribution of monthly scores
fig, ax = plt.subplots(figsize=(12, 5))
ax.hist(monthly_scores['monthly_score'], bins=50, color='steelblue', edgecolor='white')
ax.axvline(x=0, color='red', linestyle='--', linewidth=2, label='Zero (Neutral)')
ax.axvline(x=monthly_scores['monthly_score'].mean(), color='green', linestyle='--', 
           linewidth=2, label=f'Mean ({monthly_scores["monthly_score"].mean():.2f})')
ax.set_xlabel('Monthly Sentiment Score', fontsize=12)
ax.set_ylabel('Frequency', fontsize=12)
ax.set_title('Distribution of Monthly Employee Sentiment Scores', fontsize=14, fontweight='bold')
ax.legend()
plt.tight_layout()
plt.savefig('visualizations/monthly_score_distribution.png', dpi=300, bbox_inches='tight')
plt.close()
print(" Saved: monthly_score_distribution.png")

 Saved: monthly_score_distribution.png

## Employee Score Summary

In [6]:
# Overall scores per employee
overall_scores = monthly_scores.groupby('employee').agg({
    'monthly_score': ['sum', 'mean', 'count'],
    'message_count': 'sum'
}).reset_index()
overall_scores.columns = ['employee', 'total_score', 'avg_monthly_score', 'months_active', 'total_messages']

overall_scores['employee_name'] = overall_scores['employee'].str.split('@').str[0].str.replace('.', ' ', regex=False).str.title()
overall_scores = overall_scores.sort_values('total_score', ascending=False)

print("Top 10 Employees by Overall Score:")
print(overall_scores.head(10)[['employee_name', 'total_score', 'avg_monthly_score', 'total_messages']].to_string(index=False))

Top 10 Employees by Overall Score:
 employee_name  total_score  avg_monthly_score  total_messages
 Lydia Delgado          101           4.208333             284
   John Arnold           97           4.041667             256
    Sally Beck           89           3.708333             227
     Eric Bass           80           3.333333             210
 Johnny Palmer           80           3.333333             213
Patti Thompson           78           3.250000             225
  Don Baughman           72           3.000000             213
 Bobette Riner           72           3.000000             217
 Kayne Coulter           61           2.541667             174
 Rhonda Denton           50           2.083333             172

In [7]:
# Save monthly scores
monthly_scores.to_csv('data/monthly_employee_scores.csv', index=False)
overall_scores.to_csv('data/overall_employee_scores.csv', index=False)
print("\n Scores saved to:")
print("   - data/monthly_employee_scores.csv")
print("   - data/overall_employee_scores.csv")

 Scores saved to:
   - data/monthly_employee_scores.csv
   - data/overall_employee_scores.csv

## Visualization: Score Heatmap

In [8]:
# Pivot for heatmap (top 15 employees by activity)
top_employees = df['employee'].value_counts().head(15).index
pivot_data = monthly_scores[monthly_scores['employee'].isin(top_employees)].pivot_table(
    index='employee', columns='year_month', values='monthly_score', fill_value=0
)
pivot_data.index = [e.split('@')[0][:15] for e in pivot_data.index]

fig, ax = plt.subplots(figsize=(16, 8))
sns.heatmap(pivot_data, cmap='RdYlGn', center=0, annot=False, ax=ax, cbar_kws={'label': 'Score'})
ax.set_title('Monthly Sentiment Scores Heatmap (Top 15 Employees)', fontsize=14, fontweight='bold')
ax.set_xlabel('Month')
ax.set_ylabel('Employee')
plt.xticks(rotation=45, ha='right')
plt.tight_layout()
plt.savefig('visualizations/score_heatmap.png', dpi=300, bbox_inches='tight')
plt.show()
print("Saved: score_heatmap.png")

Saved: score_heatmap.png